{% include 'header.twig' %}
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
   <div class="navbar-header">
      <a class="navbar-brand" href="#">Doodle Calendar</a>
    </div>
 
    <ul class="nav navbar-nav navbar-right">
      <li><a href="/logout"><span class="glyphicon glyphicon-abaout"></span> About</a></li>
    </ul>
  </div>
</nav>
        <!-- Top content -->
        	
            <div class="inner-bg">
                <div class="container">
                    <div class="message_erreur">
                    	{% if message is defined %}
                    		{% if type=="1" %}
                    		<div class="alert alert-warning">
  							<strong>Warning!</strong> {{message}}
							</div>
                    		{% endif %}

                    		{% if type == "2" %}
                    		<div class="alert alert-success">
 							 <strong>Success!</strong> Votre compte a ete bien créer !  
							</div>
                    		{% endif %}

                    	{%endif%}
                    </div>

                    <div class="row">
                        <div class="col-sm-5">
                        	
                        	<div class="form-box">
	                        	<div class="form-top">
	                        		<div class="form-top-left">
	                        			<h3>Se Connecter </h3>
	                        		</div>
	                        		<div class="form-top-right">
	                        			<i class="fa fa-key"></i>
	                        		</div>
	                            </div>
	                            <div class="form-bottom">
				                    <form role="form" action="/connexion" method="post" class="login-form">
				                    	<div class="form-group">
				                    		<label class="sr-only" for="form-username">Email</label>
				                        	<input type="text" name="email" placeholder="Email" class="form-username form-control" id="form-username">
				                        </div>
				                        <div class="form-group">
				                        	<label class="sr-only" for="form-password">Mot de passe</label>
				                        	<input type="password" name="password" placeholder="Mot de passe..." class="form-password form-control" id="form-password">
				                        </div>
				                        <button type="submit" class="connexion_btn">Se connecter</button>
				                    </form>
			                    </div>
		                    </div>
		                
		                	
                        </div>
                        
                        <div class="col-sm-1 middle-border"></div>
                        <div class="col-sm-1"></div>
                        	
                        <div class="col-sm-5">
                        	
                        	<div class="form-box">
                        		<div class="form-top">
	                        		<div class="form-top-left">
	                        			<h3>S'inscrire</h3>
		                        		</div>
	                        		<div class="form-top-right">
	                        			<i class="fa fa-pencil"></i>
	                        		</div>
	                            </div>
	                            <div class="form-bottom">
				                    <form role="form" action="/signup" method="post" class="registration-form">
				                    	<div class="form-group">
				                    		<label class="sr-only" for="form-first-name">First name</label>
				                        	<input type="text" name="nom" {% if type=='1' %} value=' {%if type=="1"%} {{data.nom}}{% endif %}' {% endif %} placeholder="Nom..." class="form-first-name form-control" id="form-first-name">
				                        </div>
				                        <div class="form-group">
				                        	<label class="sr-only" for="form-last-name">Last name</label>
				                        	<input type="text"  {% if type=='1' %} value=' {%if type=="1"%} {{data.prenom}}{% endif %}' {% endif %} name="prenom" placeholder="Prénom..." class="form-last-name form-control" id="form-last-name">
				                        </div>
				                        <div class="form-group">
				                        	<label class="sr-only" for="form-email">Email</label>
				                        	<input type="text"  {% if type=='1' %} value=' {%if type=="1"%} {{data.email}}{% endif %}' {% endif %} name="email" placeholder="Email..." class="form-email form-control" id="form-email">
				                        </div>

                                        <div class="form-group">
                                            <label class="sr-only" for="form-email">Couleur</label>
                                            <input type="color" {% if type=='1' %}  value=' {%if type=="1"%} {{data.color}}{% endif %}' {% endif %} name="couleur" placeholder="couleur..." class="form-email form-control" id="form-couleur">
                                        </div>
                                        <div class="form-group">
                                            <label class="sr-only" for="form-email">Mot de passe</label>
                                            <input type="password" name="password1"  {% if type=='1' %} value=' {%if type=="1"%} {{data.password1}}{% endif %}' {% endif %} placeholder="Mot de passe..." class="form-email form-control" id="form-pwd1">
                                        </div>
                                        
                                        

				                        
				                        <button type="submit" class="connexion_btn">S'inscrire</button>
				                    </form>
			                    </div>
                        	</div>
                        	
                        </div>
                    </div>
                    
                </div>
            </div>
            
        </div>
{% include 'footer.twig' %}